//IMPORTANDO
@use "../custom"as *;
@use '../components/mixins'as *;
@use '../components/buttons'as *;



.menu {
    @include gradient;

    li {
        padding: 0 0.7rem;

        a {
            color: $white !important;
            text-transform: capitalize;
            font-weight: 600;
            transition-duration: 0.3s;
            transition-property: transform;
            
        }

        &.grow {
            transition: all .2s ease-in-out;
        }

        &:hover {
            // background-color: transparent;
            color: $white;
            z-index: 2;
            -webkit-transition: all 90ms ease-in;
            -webkit-transform: scale(1.1);
            -ms-transition: all 90ms ease-in;
            -ms-transform: scale(1.1);
            -moz-transition: all 90ms ease-in;
            -moz-transform: scale(1.1);
            // transition: all .3s ease-in;
            transform: scale(1.1);
            transition: all .2s ease-in-out;
            background-color: rgb(#000000, 10%);

            //tira animação dos links em telas menores
            @media (min-width: 320px) and (max-width: 992px) { 
                transform: scale(1.0);
                transition: none;
            }

            &:active{
                background-color:rgb(#000000, 0%);
                transition: all .05s ease-in-out;
                
            }
        }       
    }
}